# See https://pre-commit.com for more information
---
ci:
  autoupdate_schedule: monthly

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 455f64b32459518aa82ec33b63f799ed048d65a9  # frozen: v0.12.8
    hooks:
      - id: ruff-check
        args: [--fix, --show-fixes, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: 745eface02aef23e168a8afb6b5737818efbea95  # frozen: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: sort-json
        name: Sort JSON
        description: Recursively sort JSON files by key.
        entry: ./scripts/sort_json.py
        language: script
        types: [json]
        files: src/CSET/operators/_colorbar_definition.json

  - repo: local
    hooks:
      - id: regenerate-rose-meta
        name: Regenerate rose metadata
        description: Ensure the rose metadata has been generated from its template.
        entry: ./scripts/generate_rose_meta.py
        language: python
        files: src/CSET/workflow/files/meta/
        additional_dependencies:
          - jinja2

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=10240"]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
        # Prevent PP files being inappropriately "fixed".
        exclude: ^.+\.pp$
      - id: trailing-whitespace
