#! /usr/bin/env bash

# Copyright 2022 Met Office and contributors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Setup environment.
# module load scitools/production-os45-1

# Add METplus and libraries to PATH.
export PATH=${PATH}:/path/to/METplus/ush:/path/to/MET/bin
export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/path/to/MET/lib
# Leave blank to skip VerPy plotting.
export VERPY_LOCATION=
# Cycle start time.
export ROSE_TASK_CYCLE_TIME="20220921T0300Z"
export DATESTAMP="2022092103"

run_metplus.py -c Pointstat_METplus_UKV.conf -c Pointstat_UKV_Areas.conf -c user_system_local.conf
cd verpy
# Replace the source flag here with your value of OUTPUT_BASE_RES/Output
python3 plot_met_stats.py --plot_dir ${PWD} --start 2022092103 --end 2022092603 --source /output/path/results/Output --case_studies True --expids METO_UKV --model_names 'UKV - MET'
