# Exclude site-specific files that are held in a separate private repo.
/site/
/opt/
/app/demo_pointstat/
*metdb*
restricted*

# Public site and opt files.
!/opt/rose-suite-RAL3LFRIC.conf
!/opt/rose-suite-nci_ral3lfric.conf
!/opt/rose-suite-test_validate.conf
!/site/localhost.cylc
!/site/monsoon.cylc
!/site/nci-gadi.cylc

# User workflow configuration.
/*rose-suite*
!/rose-suite.conf.example

# Testing symlink for web interface development.
/app/finish_website/file/html/plots-CACHEBUSTER

# Symlink to conda environment used by the workflow.
/conda-environment
