# Exclude site-specific files that are held in a separate private repo.
/site/
/opt/
/app/demo_pointstat/
/app/*/opt/rose-app-*.conf
*metdb*
restricted*

# User workflow configuration.
/*rose-suite*
!/rose-suite.conf.example

# Testing symlink for web interface development.
/app/finish_website/file/html/plots-CACHEBUSTER
