[template variables]
ANALYSIS_LENGTH=""
!!AOA_CYCLIC=False
AOA_DIAG=False
SHOW_CASE_STUDY_AGGREGATE_OPTIONS=True
!!AOA_PLEV=[]
BASIC_QQ_PLOT=False
COLORBAR_FILE=""
!!CONDA_METPLUS_VENV_LOCATION=""
CONDA_PATH=""
!!COORDINATE_LIST=""
CSET_CASE_DATES=[]
CSET_CYCLING_MODE="case_study"
CSET_ENV_SEPARATE_MET=False
CSET_ENV_USE_LOCAL_CSET=False
CSET_ENV_USE_MODULES=False
!!CSET_LOCAL_CSET_PATH=""
CSET_MODEL_COUNT=1
!!CSET_TRIAL_CYCLE_PERIOD=""
!!CSET_TRIAL_END_DATE=""
!!CSET_TRIAL_START_DATE=""
DETERMINISTIC_PLOT_CAPE_RATIO=False
DETERMINISTIC_PLOT_INFLOW_PROPERTIES=False
DOMAIN_HISTOGRAM_SERIES=False
DOMAIN_HISTOGRAM_SERIES_CASE_AGGREGATION=False,False,False,False
DOMAIN_MEAN_PRESSURE_TIME_SERIES=False
DOMAIN_MEAN_SURFACE_TIME_SERIES=False
DOMAIN_MEAN_SURFACE_TIME_SERIES_CASE_AGGREGATION=False,False,False
DOMAIN_MEAN_VERTICAL_PROFILE_MODEL_LEVEL_SERIES=False
DOMAIN_MEAN_VERTICAL_PROFILE_MODEL_LEVEL_SERIES_CASE_AGGREGATION=False,False,False
DOMAIN_MEAN_VERTICAL_PROFILE_SERIES=False
DOMAIN_MEAN_VERTICAL_PROFILE_SERIES_CASE_AGGREGATION=False,False,False
DOMAIN_SURFACE_HISTOGRAM_SERIES_FIELD=False
DOMAIN_SURFACE_HISTOGRAM_SERIES_FIELD_CASE_AGGREGATION=False,False,False,False
EXTRACT_MLEVEL_TRANSECT=False
EXTRACT_PLEVEL_TRANSECT=False
!!HISTOGRAM_TYPE="step"
HOUSEKEEPING_MODE=2
!!LATLON_IN_TYPE="realworld"
!!LATITUDE_POINT=0
!!LEVELS_A=[]
!!LEVELS_B=[]
LOGLEVEL="DEBUG"
!!LONGITUDE_POINT=0
!!METPLUS_BASE=""
METPLUS_GRID_STAT=False
METPLUS_POINT_STAT=False
!!MET_INSTALL_DIR=""
!!MET_LIBRARIES=""
!!MLEVEL_TRANSECT_FINISHCOORDS=
!!MLEVEL_TRANSECT_STARTCOORDS=
!!MODEL_FIELDS_A=[]
!!MODEL_FIELDS_B=[]
MODEL_LEVEL_MODEL_FIELDS=[]
!!MODULES_LIST=
!!MODULES_PURGE=True
!!ONE_TO_ONE=False
!!PLEVEL_TRANSECT_FINISHCOORDS=
!!PLEVEL_TRANSECT_STARTCOORDS=
PLOT_RESOLUTION=100
PLOT_SPATIAL_MODEL_LEVEL_MODEL_FIELD=False
PLOT_SPATIAL_MODEL_LEVEL_MODEL_FIELD_CASE_AGGREGATION=False,False,False
PLOT_SPATIAL_PRESSURE_LEVEL_MODEL_FIELD=False
PLOT_SPATIAL_PRESSURE_LEVEL_MODEL_FIELD_CASE_AGGREGATION=False,False,False
PLOT_SPATIAL_SURFACE_MODEL_FIELD=False
PLOT_SPATIAL_SURFACE_MODEL_FIELD_CASE_AGGREGATION=False,False,False
PRESSURE_LEVELS=[]
PRESSURE_LEVEL_MODEL_FIELDS=[]
!!SINGLE_POINT_METHOD="Nearest"
SITE=
SKIP_WRITE=False
SPATIAL_PRESSURE_DIFFERENCE=False
SPATIAL_SURFACE_DIFFERENCE=False
SPATIAL_SURFACE_DIFFERENCE_CASE_AGGREGATION=False,False,False
SURFACE_MODEL_FIELDS=[]
SURFACE_SINGLE_POINT_TIME_SERIES=False
MODEL_LEVELS=[]
!!VERTICAL_COORDINATE_A=[]
!!VERTICAL_COORDINATE_B=[]
WEB_ADDR=""
WEB_DIR="$HOME/public_html/CSET"
!!m10_analysis_offset="PT0H"
!!m10_data_path=""
!!m10_data_period="PT1H"
!!m10_data_source="filesystem"
!!m10_date_type="initiation"
!!m10_name=""
!!m11_analysis_offset="PT0H"
!!m11_data_path=""
!!m11_data_period="PT1H"
!!m11_data_source="filesystem"
!!m11_date_type="initiation"
!!m11_name=""
!!m12_analysis_offset="PT0H"
!!m12_data_path=""
!!m12_data_period="PT1H"
!!m12_data_source="filesystem"
!!m12_date_type="initiation"
!!m12_name=""
!!m13_analysis_offset="PT0H"
!!m13_data_path=""
!!m13_data_period="PT1H"
!!m13_data_source="filesystem"
!!m13_date_type="initiation"
!!m13_name=""
!!m14_analysis_offset="PT0H"
!!m14_data_path=""
!!m14_data_period="PT1H"
!!m14_data_source="filesystem"
!!m14_date_type="initiation"
!!m14_name=""
!!m15_analysis_offset="PT0H"
!!m15_data_path=""
!!m15_data_period="PT1H"
!!m15_data_source="filesystem"
!!m15_date_type="initiation"
!!m15_name=""
!!m16_analysis_offset="PT0H"
!!m16_data_path=""
!!m16_data_period="PT1H"
!!m16_data_source="filesystem"
!!m16_date_type="initiation"
!!m16_name=""
!!m17_analysis_offset="PT0H"
!!m17_data_path=""
!!m17_data_period="PT1H"
!!m17_data_source="filesystem"
!!m17_date_type="initiation"
!!m17_name=""
!!m18_analysis_offset="PT0H"
!!m18_data_path=""
!!m18_data_period="PT1H"
!!m18_data_source="filesystem"
!!m18_date_type="initiation"
!!m18_name=""
!!m19_analysis_offset="PT0H"
!!m19_data_path=""
!!m19_data_period="PT1H"
!!m19_data_source="filesystem"
!!m19_date_type="initiation"
!!m19_name=""
m1_analysis_offset="PT0H"
m1_data_path=""
m1_data_period="PT1H"
m1_data_source="filesystem"
m1_date_type="initiation"
m1_name=""
!!m20_analysis_offset="PT0H"
!!m20_data_path=""
!!m20_data_period="PT1H"
!!m20_data_source="filesystem"
!!m20_date_type="initiation"
!!m20_name=""
!!m2_analysis_offset="PT0H"
!!m2_data_path=""
!!m2_data_period="PT1H"
!!m2_data_source="filesystem"
!!m2_date_type="initiation"
!!m2_name=""
!!m3_analysis_offset="PT0H"
!!m3_data_path=""
!!m3_data_period="PT1H"
!!m3_data_source="filesystem"
!!m3_date_type="initiation"
!!m3_name=""
!!m4_analysis_offset="PT0H"
!!m4_data_path=""
!!m4_data_period="PT1H"
!!m4_data_source="filesystem"
!!m4_date_type="initiation"
!!m4_name=""
!!m5_analysis_offset="PT0H"
!!m5_data_path=""
!!m5_data_period="PT1H"
!!m5_data_source="filesystem"
!!m5_date_type="initiation"
!!m5_name=""
!!m6_analysis_offset="PT0H"
!!m6_data_path=""
!!m6_data_period="PT1H"
!!m6_data_source="filesystem"
!!m6_date_type="initiation"
!!m6_name=""
!!m7_analysis_offset="PT0H"
!!m7_data_path=""
!!m7_data_period="PT1H"
!!m7_data_source="filesystem"
!!m7_date_type="initiation"
!!m7_name=""
!!m8_analysis_offset="PT0H"
!!m8_data_path=""
!!m8_data_period="PT1H"
!!m8_data_source="filesystem"
!!m8_date_type="initiation"
!!m8_name=""
!!m9_analysis_offset="PT0H"
!!m9_data_path=""
!!m9_data_period="PT1H"
!!m9_data_source="filesystem"
!!m9_date_type="initiation"
!!m9_name=""
