[template variables]
BASIC_QQ_PLOT=False
COLORBAR_FILE=""
!!CONDA_METPLUS_VENV_LOCATION=""
CONDA_PATH=""
CONDA_VENV_CREATE=True
CONDA_VENV_LOCATION=""
!!COORDINATE_LIST=""
CSET_ANALYSIS_OFFSET="PT0H"
CSET_ANALYSIS_PERIOD=""
CSET_CASE_DATES=[]
CSET_CYCLING_MODE="case_study"
CSET_ENV_SEPARATE_MET=False
CSET_ENV_USE_CONDA=True
CSET_ENV_USE_LOCAL_CSET=False
CSET_ENV_USE_MODULES=False
!!CSET_LOCAL_CSET_PATH=""
CSET_MODEL_COUNT=1
!!CSET_RUNAHEAD_LIMIT=0
!!CSET_TRIAL_CYCLE_PERIOD=""
!!CSET_TRIAL_END_DATE=""
!!CSET_TRIAL_START_DATE=""
DETERMINISTIC_PLOT_CAPE_RATIO=False
DETERMINISTIC_PLOT_INFLOW_PROPERTIES=False
DOMAIN_HISTOGRAM_SERIES=False
DOMAIN_MEAN_SURFACE_TIME_SERIES=False
DOMAIN_MEAN_VERTICAL_PROFILE_MODELLEVEL_SERIES=False
DOMAIN_MEAN_VERTICAL_PROFILE_SERIES=False
DOMAIN_SURFACE_HISTOGRAM_SERIES_FIELD=False
EXTRACT_MLEVEL_TRANSECT=False
EXTRACT_PLEVEL_TRANSECT=False
!!HISTOGRAM_TYPE="step"
HOUSEKEEPING_MODE=2
!!LATITUDE_POINT=0
!!LEVELS_A=[]
!!LEVELS_B=[]
LOGLEVEL="INFO"
!!LONGITUDE_POINT=0
!!METPLUS_BASE=""
METPLUS_GRID_STAT=False
METPLUS_POINT_STAT=False
!!MET_INSTALL_DIR=""
!!MET_LIBRARIES=""
!!MLEVEL_TRANSECT_FINISHCOORDS=
!!MLEVEL_TRANSECT_STARTCOORDS=
!!MODEL_FIELDS_A=[]
!!MODEL_FIELDS_B=[]
MODEL_LEVEL_MODEL_FIELDS="","","","","","","","","",""
!!MODULES_LIST=
!!MODULES_PURGE=True
!!ONE_TO_ONE=False
!!PLEVEL_TRANSECT_FINISHCOORDS=
!!PLEVEL_TRANSECT_STARTCOORDS=
PLOT_RESOLUTION=100
PLOT_SPATIAL_MODEL_LEVEL_MODEL_FIELD=False
PLOT_SPATIAL_PRESSURE_LEVEL_MODEL_FIELD=False
PLOT_SPATIAL_SURFACE_MODEL_FIELD=False
PRESSURE_LEVELS=[]
PRESSURE_LEVEL_MODEL_FIELDS="","","","","","","","","",""
!!SINGLE_POINT_METHOD="Nearest"
SITE=
SURFACE_MODEL_FIELDS="","","","","","","","","",""
SURFACE_SINGLE_POINT_TIME_SERIES=False
UM_MODEL_LEVELS=[]
!!VERTICAL_COORDINATE_A=[]
!!VERTICAL_COORDINATE_B=[]
WEB_ADDR=""
WEB_DIR="$HOME/public_html/CSET"
m01_data_path=""
!!m01_data_period=""
m01_data_source="filesystem"
m01_date_type="initiation"
m01_name=""
m01_preprocessing=False
!!m01_preprocessing_recipe=""
!!m02_data_path=""
!!m02_data_period=""
!!m02_data_source="filesystem"
!!m02_date_type="initiation"
!!m02_name=""
!!m02_preprocessing=False
!!m02_preprocessing_recipe=""
!!m03_data_path=""
!!m03_data_period=""
!!m03_data_source="filesystem"
!!m03_date_type="initiation"
!!m03_name=""
!!m03_preprocessing=False
!!m03_preprocessing_recipe=""
!!m04_data_path=""
!!m04_data_period=""
!!m04_data_source="filesystem"
!!m04_date_type="initiation"
!!m04_name=""
!!m04_preprocessing=False
!!m04_preprocessing_recipe=""
!!m05_data_path=""
!!m05_data_period=""
!!m05_data_source="filesystem"
!!m05_date_type="initiation"
!!m05_name=""
!!m05_preprocessing=False
!!m05_preprocessing_recipe=""
!!m06_data_path=""
!!m06_data_period=""
!!m06_data_source="filesystem"
!!m06_date_type="initiation"
!!m06_name=""
!!m06_preprocessing=False
!!m06_preprocessing_recipe=""
!!m07_data_path=""
!!m07_data_period=""
!!m07_data_source="filesystem"
!!m07_date_type="initiation"
!!m07_name=""
!!m07_preprocessing=False
!!m07_preprocessing_recipe=""
!!m08_data_path=""
!!m08_data_period=""
!!m08_data_source="filesystem"
!!m08_date_type="initiation"
!!m08_name=""
!!m08_preprocessing=False
!!m08_preprocessing_recipe=""
!!m09_data_path=""
!!m09_data_period=""
!!m09_data_source="filesystem"
!!m09_date_type="initiation"
!!m09_name=""
!!m09_preprocessing=False
!!m09_preprocessing_recipe=""
!!m10_data_path=""
!!m10_data_period=""
!!m10_data_source="filesystem"
!!m10_date_type="initiation"
!!m10_name=""
!!m10_preprocessing=False
!!m10_preprocessing_recipe=""
