/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
address,
select {
  font: inherit;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  height: 100vh;
  margin: 0;
}

a:focus,
a:hover {
  text-decoration-skip-ink: none;
  text-decoration-thickness: max(3px, 0.12em);
}

nav > header {
  margin: 8px;
}

nav > header > h1 {
  font-size: xx-large;
  margin: 0;
}

nav > header > button {
  margin: 4px 0;
}

nav {
  display: inline;
  float: left;
  width: 15em;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: whitesmoke;
  border-right: 1px solid black;
}

nav summary {
  font-weight: bold;
}

nav menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav details {
  margin: 8px;
}

nav menu > li {
  background-color: lightgrey;
  margin: 8px 0;
  padding: 0 4px;
  border: 1px solid black;
  font-size: small;
  overflow-wrap: break-word;
}

.plot-position-chooser {
  display: flex;
  margin-bottom: 0.25em;
  font-size: medium;
}

.plot-position-chooser button {
  margin: 0 4px;
  cursor: pointer;
  width: 33%;
}

.plot-position-chooser button.left {
  background-color: #b8dcfd;
  border-top-left-radius: 25% 50%;
  border-bottom-left-radius: 25% 50%;
}
.plot-position-chooser button.full {
  background-color: #c5e836;
}
.plot-position-chooser button.right {
  background-color: #fdcabb;
  border-top-right-radius: 25% 50%;
  border-bottom-right-radius: 25% 50%;
}

.plot-position-chooser button:focus,
.plot-position-chooser button:hover {
  background-color: #1a1a1a;
  color: white;
}

.vsplit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;
}

.hsplit {
  display: grid;
  grid-template-rows: 1fr 1fr;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.websplit-container {
  display: flex;
  flex-direction: column;
  outline: solid 1px black;
}

main {
  height: 100%;
}

main article {
  display: grid;
  height: 100%;
}

main article > iframe {
  border: none;
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}
