name: Publish packages

on:
  release:
    types: [published]

# Allow only one concurrent deployment
concurrency:
  group: "release"
  cancel-in-progress: false

# Minimise default GITHUB_TOKEN permissions.
permissions: {}

jobs:
  build-package:
    name: Build release package
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          # Get full history to ensure setuptools_scm is happy.
          fetch-depth: 0
          persist-credentials: false

      - name: Setup python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
            python-version: "3.x"

      - name: Install dependencies
        run: pip install build

      - name: Build package
        run: python3 -m build

      - name: "Upload package as artifact"
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: packages
          path: dist/
          retention-days: 1
          if-no-files-found: error

  pypi-publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: build-package
    environment:
      name: release
    permissions:
      id-token: write
    steps:
      - name: Download package artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: packages
          path: dist/

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e
