name: Weekly Checks

on:
  schedule:
    - cron: "8 4 * * 1"
  workflow_dispatch:

# Minimise default GITHUB_TOKEN permissions.
permissions: {}

jobs:
  check-documentation-hyperlinks:
    name: Check documentation hyperlinks
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Cache conda environment
        id: conda-env-cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        with:
          key: conda|${{runner.os}}-${{runner.arch}}|${{hashFiles('requirements/locks/latest')}}
          path: |
            ~/conda-env
            ~/.local/share/cartopy

      - name: Create conda environment
        if: steps.conda-env-cache.outputs.cache-hit != 'true'
        run: |
          # Check cache hasn't pulled a partial key match.
          test ! -e "${HOME}/conda-env"
          conda create --prefix="${HOME}/conda-env" --file=requirements/locks/latest

      - name: Add conda environment to PATH
        run: echo "${HOME}/conda-env/bin" >> $GITHUB_PATH

      - name: Build documentation
        run: |
          # Install module so it can be imported during docs generation.
          echo '::group::Installing local package'
          pip install --no-deps .
          echo '::endgroup::'
          # Generate the documentation
          echo '::group::Building the documentation'
          sphinx-build -b html --color "docs/source" "docs/build/html"
          echo '::endgroup::'
          echo '::group::Checking for broken hyperlinks'
          sphinx-build -b linkcheck --color -W --keep-going "docs/source" "docs/build/linkcheck"
          echo '::endgroup::'

      - name: Upload build documentation as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: html-docs
          path: docs/build/html/
          retention-days: 1
          if-no-files-found: error
